
<h3>ЗАКАЗ</h3>
<div>



    <p> Заказ №:{{ order.id }} Заказ: {{ order.title }}</p>
    <p>{{ order.slug }}</p>
    <p>Количество: {{ order.quantity }}</p>
    <p>Материал: {{ order.material }}</p>
    <p>Заказ создан: {{ order.created_at }}</p>
    <p>Заказ обновлен: {{ order.updated_at }}</p>
    <p>Клиент: {{ order.client }}</p>
    <p><br></p>

    <h3>Принтеры используются:</h3>
    {% for printer in order.printers.all %}
    <p>{{ printer.title }} <a href="{{ printer.get_absolute_url }}">{{ printer.slug }}</a> </p>

    {% endfor %}

    <p><br></p>
    



</div>